@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.Home-Container {
  padding: 0;
  margin: 0;
}

.nav-container {
  padding: 25px;
  width: 100%;
  border-bottom: 4px groove rgb(255, 255, 255);
  background-color: #1c46ff;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav-container h2 {
  font-weight: bold;
  color: white;
}
.nav-container ul {
  margin-top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav-container ul li {
  color: white;
  margin-left: 2rem;
}
.nav-container ul li:hover {
  font-weight: bold;
  border-bottom: 1px solid white;
}

.Container-summary {
  padding: 25px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-summary h4 {
  font-size: 1.8rem;
  color: #1c46ff;
  font-weight: bold;
}
.Container-summary p {
  color: rgb(0, 0, 0);
}

.Container-cert {
  padding: 20px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-cert h4 {
  color: #1c46ff;
  font-weight: bold;
}

.Container-edu {
  padding: 20px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-edu h4 {
  color: #1c46ff;
  font-weight: bold;
}

.Container-skills {
  padding: 20px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-skills h4 {
  color: #1c46ff;
  font-weight: bold;
}

.Container-exp {
  padding: 20px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-exp h4 {
  color: #1c46ff;
  font-weight: bold;
  font-size: 1.5rem;
}
.Container-exp p {
  width: 85%;
  text-align: left;
}
.Container-exp .skills {
  padding: 25px;
  margin-left: 1rem;
}

.Container-ref {
  padding: 20px;
  margin-top: 5rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.75rem;
}
.Container-ref h4 {
  color: #1c46ff;
  font-weight: bold;
  font-size: 1.5rem;
}
.Container-ref .Ref-Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Container-ref .Ref-Flex .ref-div {
  width: 50%;
  padding: 10px;
  margin: 1rem;
}
.Container-ref .Ref-Flex .ref-div h2 {
  font-size: 1.3rem;
  margin-top: -1rem;
}
.Container-ref .Ref-Flex .ref-div h3 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.Container-ref .Ref-Flex .ref-div p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.Container-ref .Ref-Flex .ref-div .ppp {
  font-size: 1rem;
}

footer {
  margin-top: 3rem;
  padding: 20px;
  height: 18rem;
  width: 100%;
  border-top: 5px rgb(252, 252, 252) groove;
  display: flex;
  justify-content: space-evenly;
  background-color: #1c46ff;
  border-bottom: none;
}
footer hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer div {
  margin-left: 1rem;
  width: 35%;
}
footer div h2 {
  text-align: center;
  color: white;
}
footer div p {
  text-align: center;
  color: white;
}
footer section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section h2 {
  text-align: center;
  color: white;
}
footer section ul li {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
}
footer section ul li a {
  color: white;
}/*# sourceMappingURL=index.css.map */